<md-toolbar color="primary">{{title}}</md-toolbar>
<!--md-card>
  <md-card-title>{{hero.name}}</md-card-title>
  <md-card-content>
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="hero.name" placeholder="Nombre">
    </md-input-container>
    
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="newPower" placeholder="Agregar poder" />
    </md-input-container>
    <button (click)="addPower()">Agregar</button>
    <md-chip-list>
      <md-chip *ngFor="let power of hero.powers">
        {{power}}
      </md-chip>
    </md-chip-list>
  </md-card-content>
</md-card-->
<autor-manager></autor-manager>
<post-manager></post-manager>