<md-toolbar color="primary">
  {{title}}
  <button md-button [mdMenuTriggerFor]="menu">
    Menu
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/posts">
      <span>Posts</span>
    </button>
    <button md-menu-item routerLink="/autors">
      <span>Autors</span>
    </button>
  </md-menu>
</md-toolbar>
<!--md-card>
  <md-card-title>{{hero.name}}</md-card-title>
  <md-card-content>
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="hero.name" placeholder="Nombre">
    </md-input-container>
    
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="newPower" placeholder="Agregar poder" />
    </md-input-container>
    <button (click)="addPower()">Agregar</button>
    <md-chip-list>
      <md-chip *ngFor="let power of hero.powers">
        {{power}}
      </md-chip>
    </md-chip-list>
  </md-card-content>
</md-card-->
<router-outlet></router-outlet>